<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HalfbyteMedia.Craftopia.ModInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <HalfbyteMedia.Craftopia.ModInstaller.Properties.Settings>
            <setting name="DEFAULT_INSTALL_DIRECTORY" serializeAs="String">
                <value>C:\Craftopia</value>
            </setting>
            <setting name="LOG_PATH" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="FILE_DOWNLOADS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>UWP Dumper|d|https://github.com/Wunkolo/UWPDumper/releases/download/6.9.2021/UWPDumper-x64.zip</string>
                        <string>BepInEx|d|https://github.com/BepInEx/BepInEx/releases/download/v5.4.18/BepInEx_x64_5.4.18.0.zip</string>
                        <string>Microsoft Visual C++ Redistributable|i|https://aka.ms/vs/17/release/vc_redist.x64.exe</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RUN_CRAFTOPIA" serializeAs="String">
                <value>shell:appsFolder\PocketpairInc.Craftopia_ad4psfrxyesvt!Game</value>
            </setting>
        </HalfbyteMedia.Craftopia.ModInstaller.Properties.Settings>
    </applicationSettings>
</configuration>